<div class="container">
  <br />
  <div class="row">
    <div class="col">
      <h3>Players</h3>
    </div>
    <div class="col text-right">
      <a href="#" routerLink="/positions/create/" class="btn btn-success btn-sm">Create New</a>
    </div>
  </div>
  <br />

  <table class="table table-bordered table-sm">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Display Order</th>
    </tr>

    <tr *ngFor="let position of positions">
      <td>{{position.id}}</td>
      <td>{{position.name}}</td>
      <td>{{position.displayOrder}}</td>
    </tr>
  </table>
</div>
